<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="common/layout/defaultLayout"
layout:fragment="content">

<head>
	<title>main</title>
	<!-- inline CSS, JS 영역
	<style th:inline="css" type="text/css">
	    body {
	        margin: 30px;
	        border: 1px solid red;
	    }
		#bodyDiv{
			width:1280px;
		}
	</style>
	<script th:inline="javascript" type="text/javascript">
	</script>
	-->
</head>
<body>
	<div class="cont">
		main 화면
		<br>
		여기에 검색엔진 및 메인 기능, 공지사항 게시판 표출
		<br>
		[todo] 사이드쪽에 배너/광고/알리미 기능 달기
	</div>
</body>
</html>
