<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
th:fragment="headerFragment">

<header class="head">
	<div class="cont" style="display:flex;">
		<div class="tl" style="width:800px;">
			<img src="images/banner.png" alt="none" width="100px" class="pointer" onclick="location.href='/'">
			마비노기 검색엔진 프로젝트
		</div>
		<div style="display:inline-blick;">
			<a id="btnLogin" name="btnLogin" onclick="location.href='login'">로그인</a>&nbsp;&nbsp;
			<a id="btnJoin" name="btnJoin" onclick="location.href='join'">회원가입</a>
		</div>
	</div>
</header>

</html>